<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvidenceCapture.Properties.DisplaySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EvidenceCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <EvidenceCapture.Properties.DisplaySettings>
            <setting name="DefaultDisplayWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="DefaultDisplayHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="DefaultDisplayIsNormal" serializeAs="String">
                <value>True</value>
            </setting>
        </EvidenceCapture.Properties.DisplaySettings>
        <EvidenceCapture.Properties.Settings>
            <setting name="DefaultOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupPattern" serializeAs="String">
                <value>[n]-[n]-[n]</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="DefaultWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>1</value>
            </setting>
        </EvidenceCapture.Properties.Settings>
    </userSettings>
</configuration>